<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Sistema de Prontuário Médico">
  <title>Login - Sistema de Prontuário</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .form-signin {
        max-width: 330px;
        padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
  </style>
</head>
<body class="d-flex align-items-center py-4 bg-light">
<main class="form-signin w-100 m-auto">
  <form action="#" th:action="@{/sign-in}" th:object="${user}" method="post">
    <img class="mb-4" src="/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Login do Médico</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="cpf" name="cpf" placeholder="123.456.789-10" th:field="*{cpf}" required>
      <label for="cpf">CPF</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="name" name="name" placeholder="Nome" th:field="*{name}" required>
      <label for="name">Nome</label>
    </div>
    <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2024 Sistema de Prontuário</p>
  </form>
</main>
</body>
</html>

